/*********** 
COMMON RULES
************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Colors */


:root {
    --lighter_text-color: white;
    --dark_text-color: #23272A;
    --footer_text-color: #7086D5; 
    --bg_navbar-color: #3161E0; 
    --bg_btn-color: #8EA1E1; 
}

/* Utility */

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}


.format{

    margin:auto;
    width: 1200px;
    background-color: aqua;
    height: 500px;
}


/* header */


#site_header{
    background-color:red;
    height: 100vh;
}


.navbar{
    height: 100px;
    background-color: #7086D5;
}



.nav_cl_sm{

    height: 80px;
    margin:1%;
    width: 20%;
    float:left;
    background-color: beige;
}


.nav_cl_lg{
    height: 80px;
    margin:1%;
    width: 54%;
    float: left;
    background-color:beige;
}

