/*********** 
COMMON RULES
************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* Colors */


:root {
    --lighter_text-color: #FFFFFF;
    --dark_text-color: #23272A;
    --footer_text-color: #7086D5; 
    --bg_navbar-color: #3161E0; 
    --bg_btn-color: #8EA1E1; 
}

/* Utility */

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}


.format{

    margin:0 auto;
    width: 1200px;
    height: 400px;
}


/* header
************/


#site_header{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
}


/* navbar */


.navbar{
    height: 80px;
    background-color:var(--bg_navbar-color);
}



.nav_col_sm{

    
    width: 20%;
    float:left;
    position:relative;
    padding:1%;
    
    /* background-color: beige; */
}


.nav_col_sm>.btn{
    background-color:white;
    color:var(--dark_text-color);
    border-radius:25%;
    padding:20px;
}


.right{
    text-align: right;
    line-height: 80px;
}


.nav_col_sm>img {
    height:80px;
    width: 100%;
}

.nav_col_lg{
    width: 60%;
    float: left;
    /* background-color: beige; */
    position: relative;
    padding: 0 1%;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    
}


.menu>ul {
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.menu>li{
    font-size: 16px;
    font-weight: 500;
    color:var(--lighter_text-color);
    margin:auto;
    display:inline-block;
    padding: 20px;
   
}
/* hero_elements*/


.hero_container{
    position:relative;
}

.hero_elements{
    height: 300px;
    width: 850px;
    /* background-color: pink; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.hero.text{
    color:var(--lighter_text-color);   
}


.hero.text>h1{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;

}


.hero.text>p{
    color:var(--lighter_text-color);
    font-size: 1.2rem;
    text-align: center;
    
}

/* Main
********** */


#site_main {
    background-color: orange;
}

.odd{
    background-color:grey;
    height: 100vh;
    margin: 0px auto 20px;

}


.even{ 
    background-color:aliceblue;
    height:100vh;
    margin:20px auto;

}

.bottom{
    background-color:violet;
    height: 100vh;
    margin:20px auto 0;
}



.row_col_sm {
    height: 500px;
    margin:1%;
    width: 41%;
    float:left;
    background-color: green;

}


.row_col_md {

    height: 500px;
    margin:1%;
    width: 55%;
    float:left;
    background-color: green;
}



.bottom{

    position:relative;
}


.bottom_container{

    height: 400px;
    width: 800px;
    background-color: rgb(131, 29, 190);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Footer
********** */


#site_footer{
    background-color: var(--dark_text-color);
    height: 60vh;
}


.footerrow_col_md {

    height: 200px;
    margin:1%;
    width: 30%;
    float:left;
    background-color: green;
}

.footerrow_col_sm {
    height: 200px;
    margin:1%;
    width: 15%;
    float:left;
    background-color: green;

}


.footerrow_col_full{
    margin:0 1%;
    height:100px;
    width:98%;
    float: left;
    margin-bottom:16px;
    background-color: green;

}